#alarmWrapper{
    width:100%;
    height:auto;
    display:inline-block;
    border:1px solid black;
    float:right;
    padding-bottom:30px;
    z-index: 5;
}

#alarmH1{
    font-family: 'Kaisei Opti', serif;
    margin-top:0;
    border-bottom:1px solid black;
    text-align: center;
    font-weight:lighter;
}

#alarmForm{
    text-align: center;
    padding:3rem 0;
}

#alarmForm input:not(#alarmSubmit){
    font-size: 2.5rem;
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(255,255,255,0.6);
}

#alarmSubmit{
    font-size:1rem;
    border-radius:0px;
    background-color: ghostwhite;
    font-family: 'Courier New', Courier, monospace;
    background-color: ghostwhite;
    outline: none;
    border: 1px solid black;
    box-shadow: 1px 1px 1px gray;
}

#alarmColumn{
    display: flex;
    flex-flow: column;
    margin:0 auto;
    width:100%;
    border-top:1px solid;
    padding:3rem 0;
    text-align: center;
}

.alarms{
    width:50%;
    height:1.7rem;
    display: inline-block;
    margin:1rem auto;
    text-align: center;
    background-color: gold;
    border:1px solid black;
    cursor: pointer;
    color:black;
}

.empty{
    background-color: black;
    color:white;
    border:1px solid white;
}

.alarms span{
    font-size:1.2rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.alarms :first-child{
    margin-right:10%;
}

#alarmBolt{
    margin-left:10px;
    font-size:1.3rem;
    line-height: 1.7rem;
    float:left;
}

.rAlarms{
    background-color: azure;
    color:black;
}

.blink{
    animation-duration: 1s;
    animation-name: blink;
    animation-timing-function: ease;
    animation-iteration-count: infinite;    
}

@keyframes blink{
    0%{
        background-color: gold;
    }
    50%{
        background-color: orange;
    }
    100%{
        background-color: gold;
    }
}