html,body{
    background-size: cover;
    background-image: url(/img/background.jpg);
}

*{
    box-sizing: border-box;
}

main{
    
    width:100%;
    margin-top:50px;
}

textarea{
    resize:none;
    font-size:17px;
    width:50%;
}

#url{
    width:250px;
}