html,body{
    background-size: cover;
    background-image: url(/img/background.jpg);
}

*{
    box-sizing: border-box;
}

textarea{
    resize:none;
    font-size:17px;
    width:50%;
}

#url{
    width:250px;
}

#emptyDiv{
    width:50%;
    height:40px;
    float:left;
}

#selectRightWrapper{
    height:40px;
    width:100%;
}

#selectR{
    float:right;
    width:50%;
    font-size:30px;
}