html,body{
    background-image: url(/img/background.jpg);
    background-size: cover;
}

main{
    border:1px solid black;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    text-align: center;
    font-size:18px;
    padding-bottom:50px;
}

h1{
    border-bottom:1px solid black;
    margin: 0;
    padding:0;
}

p{
    font-family: 'Kaisei Tokumin', serif;
    margin-top:30px;
}

#username,#subject{
    font-size: 17px;
    width:300px;
}

input:focus{
    outline: none;
}

input{
    letter-spacing: 1px;
    border:1px solid gray;
}

textarea{
    font-size: 17px;
    width:500px;
    resize:none;
    letter-spacing: 2px;
}

textarea:focus{
    outline: none;
}

#button{
    margin-top:30px;
    font-size:17px;
    border-radius: 0;
    background-color: white;
    font-family: 'Kaisei Tokumin', serif;
}

.error{
    border:1px solid red;
    color:red;
    line-height: 10px;
}