html,body{
    background-image: url(../img/background.jpg);
    /*https://www.beiz.jp/*/
    background-size: cover;
    height:96%;
}

*{
    box-sizing: border-box;
    font-family: 'Kaisei Tokumin', serif;
}

#select{
    height:40px;
    width:100%;
}

#emptySelect{
    float:left;
    width:50%;
}

#memoR{
    float:right;
    width:50%;
    font-size:30px;
}