html,body{
    background-image: url(/img/background.jpg);
    background-size: cover;
}

.passWrapper{
    text-align: center;
    width:50%;
    border:1px solid black;
}

.passWrapper h1{
    font-family: 'Kaisei Opti', serif;
    margin-top:0;
    border-bottom:1px solid black;
    text-align: center;
    font-weight:lighter;
}

#genPass{
    margin:0 20px;
    text-align: center;
    font-size:18px;
    color:black;
    display: inline;
}

#passBtn,#passKeep,#passInput{
    font-size:18px;
}

#passAfterView{
    display:none;
}

.passColumn{
    background-color: rgba(255,255,255,0.8);
    border:1px solid black;
    display: inline-block;
    width:100%;
    line-height: 20px;
    padding: 5px 0;
    position: relative;
}

.passColumn span{
    margin:0;
    font-size: 20px;
}

#dummyPass1,#dummyPass2{
    display: block;
    font-size: 17px;
    overflow: hidden;
}

#passTitle{
    text-align: center;
    font-size:18px;
    width:300px;
}

.fa-copy{
    font-size: 20px;
    float: right;
    margin-right:10px;
    height:auto;
    cursor: pointer;
}

#passInput{
    display: none;
}

.passNameInput{
    display:none;
    font-size:20px;
    text-align: center;
    border: 1px solid black;
}

.passNameInput:focus{
    outline: none;
}

.passColumn .fa-edit{
    display: block;
    float:left;
    margin-left:10px;
    cursor: pointer;
}

.fa-check{
    cursor: pointer;
    margin-left:10px;
    float:left;
}