html,body{
    background-image: url(/img/background.jpg);
    background-size: cover;
}

.passWrapper{
    text-align: center;
    width:50%;
    border:1px solid black;
    overflow: hidden;
}

.passWrapper h1{
    font-family: 'Kaisei Opti', serif;
    margin-top:0;
    border-bottom:1px solid black;
    text-align: center;
    font-weight:lighter;
}

#genPass{
    margin:0 20px;
    text-align: center;
    font-size:18px;
    color:black;
    display: inline;
}

#passBtn,#passKeep,#passInput{
    font-size:18px;
}

#passAfterView{
    display:none;
}

.passColumn{
    background-color: rgba(255,255,255,0.8);
    border:1px solid black;
    display: inline-block;
    width:100%;
    line-height: 20px;
    padding: 5px 0;
    position: relative;
}

.passColumn span{
    margin:0;
    font-size: 20px;
}

#dummyPass1,#dummyPass2{
    display: block;
    font-size: 17px;
    overflow: hidden;
}

#passTitle{
    text-align: center;
    font-size:18px;
    width:300px;
}

.fa-copy{
    font-size: 20px;
    margin-right:10px;
    height:auto;
    cursor: pointer;
    margin-left:50px;
}

#passInput{
    display: none;
}

.passNameInput{
    display:none;
    font-size:20px;
    text-align: center;
    border: 1px solid black;
}

.passNameInput:focus{
    outline: none;
}

.passColumn .fa-edit{
    display: block;
    float:left;
    margin-left:10px;
    cursor: pointer;
}

.fa-check{
    cursor: pointer;
    margin-left:10px;
    float:left;
}

#passLen{
    width:40px;
    text-align: center;
    font-size:18px;
}

#passLen:focus{
    outline: none;
}

#lenSpan{
    font-size: 18px;
    margin-right:30px;
}

#passError{
    background-color: rgba(255,255,255,0.7);
    width:100%;
    margin:0;
    padding:0;
}

#passErrorText{
    margin:0;
    padding:0;
    display:inline-block;
    font-size:18px;
    color: red;
    border-top:1px solid red;
    border-bottom:1px solid red;
}

.fa-bars{
    float: right;
    margin-right:10px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 50%;
    width:30px;
    cursor: pointer;
}

li{
    list-style: none;
}

.passEdit{
    display: flex;
    flex-flow: column;
    float:right;
    border:1px solid black;
    margin:0;
    padding:0;
}

.passEdit li{
    background-color:white;
    cursor: pointer;
    width:38px;
    margin: 0;
    padding:3px;
    border-bottom:1px solid gray;
    height:21px;
    font-family: 'Kaisei Tokumin', serif;
}