html,body{
    margin:0;
    background-image:url(/img/background.jpg);
    background-size: cover;
}

.form{
    text-align: center;
}

.form input{
    background-color:rgba(255,255,255,0.2);
    width:300px;
    border:1px solid gray;
    font-size:18px;
}

input:focus{
    outline:none;
}

.form p{
    letter-spacing: 2px;
    font-family: 'Kaisei Tokumin', serif;
}

#loginSubmit{
    border:1px solid black;
    margin-top:50px;
    border-radius: 0;
    font-size:20px;
    background-color:rgba(255,255,255,0.2);
    font-family: 'Kaisei Tokumin', serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.error{
    text-align: center;
    color:red;
}

h1{
    text-align: center;
    font-family: 'Kaisei Tokumin', serif;
    border-bottom:1px solid black;
    margin:0;
    padding:0;
    background-color: rgba(255,255,255,0.2);
}

main{
    margin-top:50px;
    width:70%;
    border:1px solid black;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:20px;
}